a.no-link-faky {
  color: #000;
  text-decoration: none;
}

body {
  padding: 1em;
}

.navbar-nav input[type=text] {
  padding: 13px 0;
}
.navbar-nav input[type=button] {
  padding: 13px 0;
}

h1 {
  background-image: url(/assets/gfx/icon-32.png);
  background-position: left center;
  background-repeat: no-repeat;
  margin: 0 0 3rem 0;
  padding: 0 0 0 40px;
}
