doctype html
html(lang="en")
  head
    title="Observer"
    script(src='/assets/js/jquery-2.1.1.min.js')
    script(src='/assets/js/site.js')
  body
    h1 Observer
    p
      a(href='javascript:;', class='create-new-token') Create New Token
